nav {
    width: 0;
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 300px;
    background: rgb(42,193,52);
    background: linear-gradient(131deg, rgba(42,193,52,1) 0%, rgba(19,111,25,1) 100%);
}