.timeframe {
    font-size: 14px;
    opacity: .6;
    position:absolute;
    top:1em;
    right:1em;
}

.role {
    font-weight: 600;
    margin-bottom: 0;
}
.website {
    font-size: .8em;
    font-weight: 300;
}
.company {
    margin-top: .5em;
    margin-bottom: .5em;
}
.location {
    font-weight: 400;
}
.responsibilities {
    padding: 1em;
}
.responsibilities li {
    font-size: 14px;
}
.arrow {
    margin: 28px 1em; width: 20px;
}
