.timeframe {
    font-size: 14px;
    opacity: .6;

    top:22px;
    right:1em;
}

@media all and (min-width: 800px) {
    .timeframe {
        position: absolute;
    }
}

.role {
    font-weight: 600;
    margin-bottom: 0;
}
.website {
    font-size: .8em;
    font-weight: 300;
}
.company {
    margin-top: .2em;
    margin-bottom: .5em;
}
.location {
    font-weight: 400;
}
.responsibilities {
    padding: 1em;

}
.responsibilities li {
    font-size: 15px;
    margin-bottom: 0.5em;
}
.arrow {
    margin: 28px 1em; width: 20px;
}
