body {
  margin: 0;
  font-family: 'Roboto', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background: #222;
  border-radius: 8px;
  padding: 10px;
}
* {
  box-sizing: border-box;
}

.competence {

}

.highlight {
  color: #20a229;
  font-weight: 500;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
