:root {
  --green: #20a229;
  --dark: #252525;
  --light: #f3f3f3
}

body {
  margin: 0;
  font-family: 'Roboto', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background: #222;
  border-radius: 8px;
  padding: 10px;
}

body::-webkit-scrollbar {
  width: .5em;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: var(--green);
  outline: 1px solid var(--green);
}


* {
  box-sizing: border-box;
}

.content {
  position: relative;
}

.highlight {
  color: var(--green);
  font-weight: 500;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
