.switch {
    position: absolute;
    z-index:1;
    top: 1em;
    right: 1em;
    display: inline-block;
    width: 60px;
    height: 34px;
}

input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: background-color .4s;
    transition: background-color .4s;
    border-radius: 34px;
}

.slider:after {
    position: relative;
    display: block;
    content: '\f186';
    font-family: 'FontAwesome', sans-serif;
    left: 36px;
    top: 8px;
    font-size: 17px;
}



.slider:before {
    position: absolute;
    z-index: 2;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: transform .4s ease-in-out;
    transition: transform .4s ease-in-out;
    border-radius: 50%;
}
input:checked + .slider {
    background-color: #222;
}
input:focus + .slider {
    box-shadow: 0 0 1px #222;
}

input:checked + .slider:before {
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

input:checked + .slider:after {
    content: '\f185';
    color: #F3f3f3;
    position: absolute;
    top: 8px;
    font-size: 17px;
    left: 8px;
}